/* PHASE 5: Cats */
.content-header {

  width: 900px;
  min-height: 200px;
  background: url("../images/cats.jpg");
  background-size: cover;
  position: relative;
}

.header-text {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 200px;
  align-items: flex-end;
}

#the_great {
  Font Family: Roboto;
  color: #fff;
  font-size: 36px;
  margin-left: 100px;
  margin-bottom: 25px;





}

button {

color: #000;
background: #fff;
font-weight: bold;
padding: 10px 20px;
border: 1px solid #000;
border-radius: 5px;
margin-left: 100px;
margin-bottom: 25px;
}
